body {
  margin: 0;
  background-color: #EAF6F6;
  text-align: center;
  padding: 0 100px
}

img {
  max-width: 100%;height:auto;
}


h1 {
  font-family: "Sacramento", cursive;
  font-size: 5vw;
}

h2 {
  font-family: "Montserrat", cursive;
  font-size: 2.5vw;
  color: #66BFBF;
}

p {
  font-family: "Merriweather", cursive;
  font-size: 1.5vw;
  line-height: 2
}

.top-container {
  margin: 0 auto;
  background-color: #A2B5BB;
  
  .top-cloud {
  margin: 2vw 0 0 35vw;
  }

/* Use a media query to add a breakpoint at 620px: */
/*@media screen and (max-width: 620px) {
  .top-container {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller 
  }
}*/
