body {
  margin: 0;
  background-color: #EAF6F6;
  text-align: center;
  padding: 0 100px
}

h1 {
  font-size: 5vw;
}

h2 {
  font-size: 2.5vw;
}

p {
  font-size: 1.5vw;
}

img {
  max-widht: 100%;height:auto;
}
/* Use a media query to add a breakpoint at 620px: */
@media screen and (max-width: 620px) {
  .top-container {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
