body {
  margin: 0;
  background-color: #EAF6F6;
  text-align: center;
  padding: 0 100px
}

img {
  max-width: 100%;height:auto;
}

h1 {
  font-family: "Sacramento", cursive;
  font-size: 5vw;
}

h2 {
  font-family: "Montserrat", cursive;
  font-size: 2.5vw;
  color: #66BFBF;
}

p {
  font-family: "Merriweather", cursive;
  font-size: 1vw;
  line-height: 2
}

hr {
  border: dotted #CFD2CF 0.7vw;
  border-bottom: none;
  width: 6%;
  margin: 2.5vw auto 2.5vw 40vw;
}

embeded {
  max-width: 60%;
}

.top-container {
  background-color: #A2B5BB;
  margin: 0 auto;
  padding: 1vw;
}

.intro-container {
  background-color: #F7F5F2;
  margin: 0 auto;
  padding: 1vw;
}

.intro-h2 {
  width: 70%;
}

.intro {
  width: 70%;
  text-align: left;
  padding: 0 10vw 0 12vw;
  max-width: 80rem;
}

.my-picture {
  max-width: 20%;height: auto;
  float: left;
  margin: 0 auto;
  padding: 4vw 2vw;
}

.skills-h2 {
  margin: auto 10vw auto 10vw;
  width: 100%;
}

.skills {
  width: 70%;
  text-align: left;
  padding: 0 10vw 0 12vw;
  max-width: 80rem;
}

.work-picture {
  max-width: 20%;
  float: right;
  margin: 0 auto;
  padding: 4vw 2vw;
}

.experience-container {
  background-color: #F2F2F2;
  margin: 0 auto;
  padding: 1vw;
}

/* Use a media query to add a breakpoint at 1080px: */
/*@media screen and (max-width: 1080px) {
  .top-container, .intro-container {
    width: 100%; /* The width is 100%, when the viewport is 1080px or smaller*/ 
  }
}*/
